.resetContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Left (image) */
.leftContainer {
  flex: 1;
  background: url("/images/wound-6606081.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}
.overlayText {
  color: white;
  font-size: 1.8rem;
  text-align: center;
  padding: 2rem;
  z-index: 1;
}

/* Right (form) */
.rightContainer {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.content {
  width: 80%;
  max-width: 400px;
  text-align: center;
}
.logo img {
  width: 150px;
  margin-bottom: 1rem;
}
.formGroup {
  margin-bottom: 1.5rem;
  text-align: left;
}
.passwordWrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.passwordWrapper input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.toggleBtn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.submitBtn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background:  #2a78c2;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.submitBtn:hover {
  background:  #58a0e4;
}

.toLogin{
    color:  #2a78c2;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

