
.footerContainer{
  margin-top: 10rem;
   background: #2a78c2;
  /* background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);  */
  color: white;
  padding: 5rem;
}    
.footer{
  display: flex;   
flex-wrap: wrap;
gap: 2rem;

}
.footer1{
  flex: 2;
  
}
li{
  cursor: pointer;
 
}
.footer li:hover{
  text-decoration: underline;
}
.footer1Content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 82%;
}
.footer1ContentHeader{
  /* display: flex;
  align-items: center;
  gap: 0.5rem; */
}
.footer1ContentHeader img{
   width: 150px;
  margin-bottom: 1rem;
}

.footer1ContentHeader p{
font-size: 1.3rem;
color: #5A98F2;
background-color: white;
border-radius: 50%;
padding: 1px 10px;  
}
.footer1 h1{
  font-size: 1.3rem;
  
}
.footer2{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.footer2 ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer2 h1{

  font-size: 1.1rem;
}

@media (max-width:680px){
  .footer{
    text-align: center;
  }
}